.formicons{
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: center;
    width: 120%;
    align-self: center;
    margin-bottom: auto; 
}
.progress-bar{
    width: 10%;
    height: 2px;
    background-color: var(--secondary-color);
    opacity: 0.7;
    transition: all 0.1s;
}
.formicon{
    position: relative;
    text-align: center;
    align-items: center;

    .formicon-figure-container{
        padding: 0.3rem;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid  var(--secondary-color);
        opacity: 0.7;
        transition: all 0.1s;
        figure{
            height: 70%;
            width: 70%;
            background-size: contain;
            background-repeat: no-repeat;
          
            filter: invert(89%) sepia(22%) saturate(1571%) hue-rotate(317deg) brightness(97%) contrast(85%);
           
        }
    }
    .formicon-label{
        
        font-family: "Poppins" ;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 4rem;
        text-align: center;
        line-height: 1.2rem;
        color: var(--primary-color);
        font-weight: 400;
        opacity: 0.7;
        transition: all 0.1s;
        font-size: 0.95rem;
        display: none;
    }
    
}


    .progress-bar-active{

        opacity: 1 !important;
    }
    .formicon-figure-container-active{
        opacity: 1 !important;
        transform: scale(1.05);
        background-color: var(--secondary-color);
        figure{
            filter: brightness(100%) invert(100%) !important;
        }
    }
    .formicon-label-active{
        opacity: 1 !important;
        font-weight: 600 !important;
    } 
