.navBar{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    gap: 4rem;
    padding: 2rem 0rem;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 6px 3px 5px -4px #dee7eb;
    width: 300px;
    position: fixed;
    z-index: 1000;
   
  
    .links-container{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    }
    
    .log-out{
       display: flex;
       align-items: center;
       align-self: flex-start;
       gap: 1rem;
       z-index: 10;
       

       cursor: pointer;
        width: max-content;
        padding: 1rem;
        padding-left: 3.3rem;
    
        h2{
            font-size: 1.1rem;
            color: rgba(0, 0, 0, 0.63);
            font-weight: 600;
            order: 2;
        }
       figure{
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-image: url("/images/icons/sign-out-alt.png");
        background-size: contain;
        filter: invert(40%) sepia(70%) saturate(4130%) hue-rotate(370deg) brightness(100%) contrast(113%);
        opacity: 0.7;
        
       
    }
    }
}

.logo-container{
    display: flex;
    width: 100%;
    gap: 0rem;
    align-items: center;
    justify-content: center;
    figure{
        background-position: center;
        width: 90px;
        height: 90px;
        background-repeat: no-repeat;
        background-image: url("/images/icons/logo.png");
        background-size: contain;
        filter: invert(75%) sepia(19%) saturate(3327%) hue-rotate(337deg) brightness(102%) contrast(98%);
        
       
    }
    h1{
        color:#55758c;
        font-weight: 600;
        font-size: 1.4rem;
        margin-left: -1.75rem;
        margin-top: 0.7rem;
        
    }

}

.pfp-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;


    figure{
        position: relative;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 2px solid var(--secondary-color);
    
      
        #actual-photo{
            position: absolute;
            height: 95%;
            width: 95%;
            inset: 0;
            left: 1px;
            margin: auto;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // background-image: url("/images/icons/loob.png");
        

            &::after{
                content: "";
                border-radius: 50%;
                position: absolute;
                inset: 0;
                background: rgb(230,169,99);
                background: linear-gradient(-20deg, rgba(230, 169, 99, 0.788) 0%, rgba(0,0,0,0) 58%);
                // opacity: 0.2;
            }
            
        }

      
        
      
        form{
            background-color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            border-radius: 50%;

     

      
            .pfp-input{
                z-index: 1000;
                overflow: hidden;
                text-indent: -999em;
                outline: none;
                position: absolute;
                width: 93%;
                height: 93%;
                margin: auto;
                left: 1px;
                inset: 0;
                cursor: pointer;
              &::after{
                    content: "";
                    opacity: 0;
                    z-index: 10;
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 100%;
                    width: 100%;
                    inset: 0;
                    left: 1px;
                    margin: auto;
                    border-radius: 50%;
                    transition: all 0.2s;   
                
                
                }
              &::before{
                    opacity: 0;
                    z-index: 11;
                    content: "";
                    margin: auto;
                    position: absolute;
                    inset: 0;
                    width: 15px;
                    height: 15px;
                    margin: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-image: url(/images/icons/pencil.png);
                    filter: invert(75%) sepia(19%) saturate(3327%) hue-rotate(337deg) brightness(102%) contrast(98%);
                    transition: all 0.2s;   
             
                }
              &:hover{
                    &::after{
                        opacity: 1;
                    }
                    &::before{
                        opacity: 1;
                    }
                }
            }
      
            button{
                position: absolute;
                bottom: 0;
                left: -20px;
                background-color: var(--secondary-color);
                border-radius: 50%;
                width: 15px !important;
                height: 15px !important;
                padding: 0 !important;
                cursor: pointer;
                transition: all 0.15s;
                border: 1px solid transparent;
                padding: 0.7rem;
                box-sizing: border-box;
                transition: all 0.15s;
                    &::after{
                        content: "";
                        inset: 0;
                        position: absolute;
                        margin: auto;
                        width: 70%;
                        height: 70%;
                        background-image: url(/images/icons/check.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        z-index: 4;
                        filter: brightness(100%) contrast(100%) invert(100%);
                       
                    }
            
            }
            button:nth-of-type(1){
                &:hover{
                    background-color: transparent;
                    border: solid 1px var(--secondary-color);
                    &::after{
                     filter: invert(75%) sepia(19%) saturate(3327%) hue-rotate(337deg) brightness(102%) contrast(98%);
                    }
                  }
            }

            button:nth-of-type(2){
              
                left: auto;
                right: -20px;
                background-color: transparent;
                &::after{
                    width: 95%;
                    height: 95%;
                    background-image: url("/images/icons/cross.png");
                    filter: invert(75%) sepia(19%) saturate(3327%) hue-rotate(337deg) brightness(102%) contrast(98%);
                }
                &:hover{
                    opacity: 0.7;
                }
            }
        }

        .edit-icon{
          
            position: absolute;
            bottom: 0px;
            right: -2px;
            border-radius: 50%;
            background-color: var(--secondary-color);
       
            margin: auto;
            width: 20px ;
            height: 20px;
       
            cursor: pointer;
            border: 2px solid white;
      
          
            &::after{
                content: "";
                margin: auto    ;
                inset: 0;
                width: 50%;
                height: 50%;
                position: absolute;
                background-image: url(/images/icons/file-edit-bold.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                // filter: invert(75%) sepia(19%) saturate(3327%) hue-rotate(337deg) brightness(102%) contrast(98%);
                filter:brightness(100) invert(100);
            }
        }

    }
    .name-email-container{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--primary-color);
        font-size: 1.2rem;
        font-weight: 600;
        h2{
            font-size: 0.7rem;
            opacity: 0.9;
        }
    }
}

.custom-shape-divider-bottom-1718045686 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    opacity: 0.6;
}

.custom-shape-divider-bottom-1718045686 svg {
    position: relative;
    display: block;
    width: calc(177% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1718045686 .shape-fill {
    fill: #E6A963;
}



@media (max-width:1000px){
     
    #root{
        flex-direction: column;
    }
    .shady-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274);
    visibility: hidden;
    transform: translateY(-200vh);
    transition: all 0.4s ;
    z-index: 1000;
}

.slide{

    transform: translateY(0vh) !important;
    visibility: visible !important;
    
}
.slide-up{
    transform: translateY(-200vh) !important;
    visibility: hidden !important;
}
.delay{
    transition: all 0.7s  0.3s;
}
    .controller{
        display: flex !important;
        width: 100%;
        position: fixed;
        justify-content: center;
        background-color: white;
        height: 70px;
        box-shadow: 0px 5px 4px -2px #dee7eb;
        transform: translateY(0vh);
        transition: 0.7s;
        visibility: visible;
        z-index: 1000;
        figure{
            width: 50px  !important;
            height: 50px !important;
            cursor: pointer;
            background-image: url("/images/icons/iconmonstr-menu-lined-240.png");
            transition: transform 0.3s;
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
    


    .navBar{
     
        position: fixed;
        visibility: hidden;
        height: 100dvh;
        width: 100%;
        justify-content: center;
        align-items: center;
        transform: translateY(-120vh);
        transition: all 0.4s 0.1s;
        padding: 2rem 1rem;
        // gap: 3rem;
        
        .links-container{
            margin-bottom: -2rem;
            .navLink{
                padding-left: 0rem;
                span{
                    display: none;
                }
            }
        }
        
        .log-out{

            padding: 0;
            
            margin-top: 1rem;
            margin-left: 1rem;
            h2{
                display: none;
            }
           figure{
            width: 25px;
            height: 25px;
            
           
        }
        }
      


        
    }
    
    .logo-container{
        margin-bottom: -2rem;
        width: 100%;
        justify-content: center;
        gap: 0.6rem;
        h1{
            
        }
        figure{
            height: 70px;
            width: 70px;
         
        }
        .close-x{
            position: absolute;
            top: 0;
            margin-top: 1.5rem;
            margin-inline: auto;
            width: 28px;
            height: 28px;
   
            background-image: url("/images/icons/cross.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1000;
            cursor: pointer;
            transition: transform 0.3s;
            filter: invert(75%) sepia(19%) saturate(3327%) hue-rotate(337deg) brightness(102%) contrast(98%);
            &:hover{
                transform: rotate(180deg);
            }
        }
    }
    
}



.form-wrapper{

    .logo-container{
        display: flex;
        width: 100%;
        gap: 0rem;
        align-items: center;
        justify-content: center;
        margin: 0rem !important;

        .logo{
            height: 90px;
            width: 90px;
        }
    }
}

#svg{
    width: 100px !important;
    height: 100px !important;
}

@media (max-height:900px) {
    .navBar{
        gap: 3.2rem;
    
    }
    html{
        font-size: 90%;
    }
}



@media (max-height:800px) {
    .navBar{
        gap: 2rem;


        .links-container{
            gap: 2rem;
        }

        .pfp-container{
            gap: 1rem;
            margin-bottom: 1rem;
        }
    
    }
    html{
        font-size: 90%;
    }


}